.bioshop-container {
  max-width: 680px;
  margin: 0 auto;
  font-family: "Nunito Sans", sans-serif !important;
}
.bioshop-fixed {
  height: 90%;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  position: relative;
}
.bioshop-fixed::-webkit-scrollbar {
  display: none;
}
.bioshop-body {
  position: relative;
}
.header-fixed {
  left: 0px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1000;
  background: #fff;
}

.header-box {
  display: flex;
  align-items: center;
}
.header-box span {
  display: block;
  margin-top: 10px;
  font-weight: 700;
  font-size: 15px;
}
.header-box .heading {
}
.header-box .new-heading {
  position: relative;
  top: -15px;
  left: 78px;
  z-index: 99;
  font-weight: 700;
}
.header-box .header-image {
  margin-right: 1rem;
  margin-top: 1rem;
  border: solid 1px #ccc;
}
.header-box .shop-btn {
  color: red;
  text-decoration: underline;
  font-family: "Nunito Sans", sans-serif;
}
img {
  object-fit: cover;
}
/****************main-carousel**************/
.main-carousel {
  /* margin-top: 20px; */
}
/*************bio-profile********************/
.bio-profile {
  text-align: center;
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.bio-profile .profile-heading {
  font-size: 22px;
  margin: 10px 0px;
}
.bio-profile .profile-bio {
  margin: 0 auto;
  width: 60%;
}
/*************biolink***************/
.biolink-area .link-box {
  background: #185887;
  border: 1px solid #185887;
  margin: 13px auto;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1px;
}
.biolink-area .link-box:hover {
  background: #fff;
  color: #000;
  border: 1px solid #185887;
}
